:root {
  --color-primary: #E57166;
  --color-accent: #27282A;
  --font-family-normal: "Work Sans", system-ui;
  --due-radius: 0.5rem;
}

.box {
  background-color: var(--color-background);
  border-radius: var(--due-radius);
  padding: var(--due-spacer);
}

#main .box {
  display: grid;
  place-items: center;
  height: calc(30 * var(--vh, 1vh));
  padding: var(--space-l);
  font-size: var(--text-4);
  line-height: var(--line-height-heading);
}

@media (min-width: 640px) {
  #main .box {
    height: calc(50 * var(--vh, 1vh));
    padding: var(--space-xl);
    font-size: var(--text-3);
    text-align: center;
  }
}

#main .box {
  background-color: var(--color-accent);
  color: white;
}

#main .box:nth-child(3n-1) {
  background-color: white;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

#main .box:nth-child(3n) {
  background-color: var(--color-primary);
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

#main .box:nth-child(3n) a {
  --color-link: white;
}
