/* Variables */

:root {
  --color-primary: hsl(224, 58%, 50%);
  --color-primary-hover: hsl(224, 58%, 58%);
  --color-primary-active: hsl(224, 58%, 66%);
  --color-primary-lucent: hsla(224, 58%, 50%, 0.35);
  --color-accent: hsl(357, 43%, 63%);
  --color-accent-hover: hsl(357, 43%, 71%);
  --color-accent-active: hsl(357, 43%, 79%);
  --color-accent-lucent: hsla(357, 43%, 63%, 0.35);
  --font-family-base: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-heading: var(--font-family-base);
  --line-height-base: 1.5;
  --line-height-heading: 1.25;
  --fluid-min-size: 16;
  --fluid-max-size: 18;
  --text-scale-ratio: 1.2;
  --text-s: calc(var(--text-6) / var(--text-scale-ratio));
  --text-6: 1rem;
  --text-5: calc(var(--text-6) * var(--text-scale-ratio));
  --text-3: calc(var(--text-4) * var(--text-scale-ratio));
  --text-2: calc(var(--text-3) * var(--text-scale-ratio));
  --text-4: calc(var(--text-5) * var(--text-scale-ratio));
  --text-1: calc(var(--text-2) * var(--text-scale-ratio));
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1.25rem;
  --space-l: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;
  --space-xxxl: 8.5rem;
  --component-spacer: var(--space-m);
  --radius: 0.25em;
}

:root:not([data-theme]),
[data-theme=light] {
  --color-contrast-lowest: hsl(0, 0%, 95%);
  --color-contrast-lower: hsl(0, 0%, 82%);
  --color-contrast-low: hsl(0, 0%, 70%);
  --color-contrast-medium: hsl(0, 0%, 48%);
  --color-contrast-high: hsl(0, 0%, 20%);
  --color-contrast-higher: hsl(0, 0%, 12%);
  --color-background: white;
  --color-text: var(--color-contrast-higher);
  --color-border: var(--color-contrast-lower);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-link);
}

[data-theme=dark] {
  --color-contrast-lowest: hsl(0, 0%, 14%);
  --color-contrast-lower: hsl(0, 0%, 22%);
  --color-contrast-low: hsl(0, 0%, 48%);
  --color-contrast-medium: hsl(0, 0%, 70%);
  --color-contrast-high: hsl(0, 0%, 82%);
  --color-contrast-higher: hsl(0, 0%, 95%);
  --color-background: hsl(0, 0%, 10%);
  --color-text: white;
  --color-border: var(--color-contrast-low);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-link);
}

[data-theme]:not(:root) {
  color: var(--color-text);
  background-color: var(--color-background);
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji";
}

small {
  font-size: 0.875em;
}

img,
svg {
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

svg:not([fill]) {
  fill: currentColor;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

td,
th {
  padding: 0;
}

button,
input,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  min-width: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
}

textarea {
  resize: vertical;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  padding: 0.25em 0.375em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}
select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/* Generic */

html {
  background-color: var(--color-background, white);
  min-width: 320px;
  font-size: calc(var(--fluid-min-size) * 1px);
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (min-width: 320px) {
  html {
    font-size: calc(calc(var(--fluid-min-size) * 1px) + (var(--fluid-max-size) - var(--fluid-min-size)) * ((100vw - 320px) / (1280 - 320)));
  }
}
@media (min-width: 1280px) {
  html {
    font-size: calc(var(--fluid-max-size) * 1px);
  }
}

body {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

hr {
  background-color: var(--color-border);
  margin: var(--component-spacer) 0;
  opacity: 1;
}

a {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

mark {
  background-color: hsl(46, 100%, 85%);
  color: inherit;
}

code {
  background-color: var(--color-contrast-lowest);
  color: var(--color-contrast-higher);
  font-size: 0.875em;
  padding: var(--space-xxxs) var(--space-xs);
}

pre {
  background-color: var(--color-contrast-lowest);
  font-size: 0.875em;
  padding: var(--space-s) 1rem;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

/* Layout */

.container {
  position: relative;
  width: calc(100% - 2 * var(--component-spacer));
  margin-left: auto;
  margin-right: auto;
}
.container.is-fullwidth {
  width: 100%;
}
@media (min-width: 640px) {
  .container:not(.is-fluid) {
    max-width: 640px;
  }
}
.container.is-sm {
  max-width: 640px !important;
}
@media (min-width: 768px) {
  .container:not(.is-fluid) {
    max-width: 768px;
  }
}
.container.is-md {
  max-width: 768px !important;
}
@media (min-width: 1024px) {
  .container:not(.is-fluid) {
    max-width: 1024px;
  }
}
.container.is-lg {
  max-width: 1024px !important;
}
@media (min-width: 1280px) {
  .container:not(.is-fluid) {
    max-width: 1280px;
  }
}
.container.is-xl {
  max-width: 1280px !important;
}

.section {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.stack > *:not(:last-child),
.stack-v > *:not(:last-child) {
  margin-bottom: var(--space, var(--component-spacer));
}

.stack-h > *:not(:last-child) {
  margin-right: var(--space, var(--component-spacer));
}

/* Form */

.control, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: none;
}
.control:focus, .button:focus, .control:active, .button:active {
  outline: none;
}

.unselectable, .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.label {
  padding-bottom: var(--space-xxs);
}

.control {
  width: 100%;
  justify-content: flex-start;
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);
  padding: var(--space-xxs) var(--space-xs);
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .control {
    transition: none;
  }
}
.control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-lucent);
}
.control::placeholder {
  color: var(--color-contrast-low);
  opacity: 1;
}
.control[disabled], .control[readonly] {
  background-color: var(--color-contrast-lowest);
  border-color: var(--color-contrast-lowest);
  color: var(--color-contrast-medium);
}
.control.is-fullwidth {
  display: block;
  width: 100%;
}
.control.is-inline {
  display: inline;
  width: auto;
}

textarea.control {
  display: block;
}
textarea.control:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
textarea.control[rows] {
  height: initial;
}

/* Content */

.content {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;
  overflow-wrap: break-word;
}
.content p,
.content ul li,
.content ol li,
.content blockquote {
  line-height: calc(var(--line-height-base) * var(--line-height-multiplier, 1));
}
.content h1:not(:last-child),
.content h2:not(:last-child),
.content h3:not(:last-child),
.content h4:not(:last-child),
.content h5:not(:last-child),
.content h6:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content ul:not(:last-child),
.content ol:not(:last-child),
.content blockquote:not(:last-child),
.content table:not(:last-child),
.content dl:not(:last-child) {
  margin-bottom: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
}
.content hr {
  margin: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1)) auto;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  line-height: calc(var(--line-height-heading) * var(--line-height-multiplier, 1));
}
.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child) {
  margin-top: calc(var(--space-xl) * var(--text-vspace-multiplier, 1));
}
.content h1 {
  font-size: var(--text-2);
}
.content h2 {
  font-size: var(--text-3);
}
.content h3 {
  font-size: var(--text-4);
}
.content h4 {
  font-size: var(--text-5);
}
.content h5 {
  font-size: var(--text-6);
}
.content h6 {
  font-size: var(--text-6);
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 600;
}
.content li + li {
  margin-top: calc(var(--space-xxxs) * var(--text-vspace-multiplier, 1));
}
.content ul:not([class]),
.content ol:not([class]),
.content dd:not([class]) {
  margin-left: 2em;
}
.content ul ul {
  margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));
}
.content blockquote {
  background-color: var(--color-contrast-lowest);
  border-left: 5px solid var(--color-contrast-lower);
  padding: var(--space-s) 2em var(--space-s) calc(2em - 5px);
}
.content figure {
  text-align: center;
}
.content figure:not(:first-child) {
  margin-top: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
}
.content figure:not(:last-child) {
  margin-bottom: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
}
.content figure img {
  display: inline-block;
}
.content figure figcaption {
  margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));
}

/* Button */

.button {
  justify-content: center;
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);
  line-height: 1;
  padding: var(--space-xs);
  text-align: center;
  white-space: nowrap;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
.button:hover {
  border-color: var(--color-text);
  color: var(--color-text);
}
.button:focus {
  border-color: var(--color-primary);
  color: var(--color-text);
}
.button:focus:not(:active) {
  box-shadow: 0 0 0 3px var(--color-primary-lucent);
}
.button:active {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-background);
}
.button.is-text, .button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-text);
}
.button.is-text[disabled], .button.is-link[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.button.is-text:hover, .button.is-text:focus {
  text-decoration: underline;
}
.button.is-link:hover, .button.is-link:focus {
  background-color: var(--color-contrast-lowest);
}
.button.is-primary, .button.is-accent {
  --text: white;
  --bg: var(--color-primary);
  --bg-hover: var(--color-primary-hover);
  --bg-active: var(--color-primary-active);
  --shadow: var(--color-primary-lucent);
  background-color: var(--bg);
  border-color: transparent;
  color: var(--text);
}
.button.is-primary:hover, .button.is-accent:hover {
  background-color: var(--bg-hover);
  border-color: transparent;
  color: var(--text);
}
.button.is-primary:focus, .button.is-accent:focus {
  border-color: transparent;
  color: var(--text);
}
.button.is-primary:focus:not(:active), .button.is-accent:focus:not(:active) {
  box-shadow: 0 0 0 3px var(--shadow);
}
.button.is-primary:active, .button.is-accent:active {
  background-color: var(--bg-active);
  border-color: transparent;
  color: var(--text);
}
.button.is-primary[disabled], .button.is-accent[disabled] {
  background-color: var(--bg);
  border-color: transparent;
  color: var(--text);
  box-shadow: none;
}
.button.is-primary.is-outlined, .button.is-accent.is-outlined {
  background-color: transparent;
  border-color: var(--bg);
  color: var(--bg);
}
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus, .button.is-accent.is-outlined:hover, .button.is-accent.is-outlined:focus {
  background-color: var(--bg);
  border-color: var(--bg);
  color: var(--text);
}
.button.is-primary.is-outlined[disabled], .button.is-accent.is-outlined[disabled] {
  background-color: transparent;
  border-color: var(--bg);
  color: var(--bg);
  box-shadow: none;
}
.button.is-accent {
  --bg: var(--color-accent);
  --bg-hover: var(--color-accent-hover);
  --bg-active: var(--color-accent-active);
  --shadow: var(--color-accent-lucent);
}
.button.is-s {
  font-size: var(--text-s);
  padding: var(--space-xxs);
}
.button.is-m {
  font-size: var(--text-5);
}
.button.is-l {
  font-size: var(--text-4);
  padding: var(--space-s);
}
.button[disabled] {
  background-color: var(--color-background);
  border-color: var(--color-contrast-lower);
  color: var(--color-text);
  box-shadow: none;
  opacity: 0.5;
}
.button.is-fullwidth {
  display: flex;
  width: 100%;
}

/* Box */

.box {
  --shadow: 0 0.01em 0.01em rgba(0, 0, 0, 0.025), 0 0.05em 0.1em rgba(0, 0, 0, 0.05), 0 0.2em 0.375em rgba(0, 0, 0, 0.1);
  display: block;
  background-color: var(--color-background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: var(--component-spacer);
}

/* Title */

.title {
  color: var(--color-contrast-higher);
  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
  font-weight: 600;
}

/* Helpers */

.block:not(:last-child) {
  margin-bottom: var(--component-spacer);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.rounded {
  border-radius: var(--radius);
}

.spans-fullwidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.centered-content {
  display: grid;
  place-items: center;
}

/* Utilities */

.text-primary {
  color: var(--color-primary) !important;
}

.text-accent {
  color: var(--color-accent) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-accent {
  background-color: var(--color-accent) !important;
}

.text-s {
  font-size: var(--text-s) !important;
}

.text-6 {
  font-size: var(--text-6) !important;
}

.text-5 {
  font-size: var(--text-5) !important;
}

.text-4 {
  font-size: var(--text-4) !important;
}

.text-3 {
  font-size: var(--text-3) !important;
}

.text-2 {
  font-size: var(--text-2) !important;
}

.text-1 {
  font-size: var(--text-1) !important;
}
